<div class="float-right">
  <p><input class="button button-outline" type="submit" value="追加" onclick="location.href='/memos/new'"></p>
</div>
<h2>memo list</h2>
<ol>
  <% @memos.each do |memo| %>
    <li><a href="/memos/<%= h(memo["id"]) %>"><%= h(memo["title"]) %></a></li>
  <% end %>
</ol>
